@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutasModel
@{ 
  
}
 
<div class="text-center">
<form method="POST">
  
  
  <select asp-for="Rutas.origen" class="form-control" required>
  
        <option value="">Selecciona el origen</option>
        @foreach (var estacion in Model.Estaciones)
    {
        <option value="@estacion.id">@estacion.nombre</option>
    }
    </select>
  <label for="destino" class="form-label">Destino:</label>
  <select asp-for="Rutas.destino" class="form-control" required>
  
        <option value="">Selecciona el origen</option>
        @foreach (var estacion in Model.Estaciones)
    {
        <option value="@estacion.id">@estacion.nombre</option>
    }
    </select>
  <label for="tiempo_estimado" class="form-label">Tiempo estimado:</label>
  <input type="text" class="form-control" id="tiempo_estimado" asp-for="Rutas.tiempo_estimado" placeholder="Tiempo estimado">
  <hr>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>
