@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionModel
@{
  var estacion = Model.Estacion;
}
 
<div class="text-center">
<form method="POST">
  
  <label for="marca" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" asp-for="Estacion.nombre" placeholder="Nombre">
  <label for="direccion" class="form-label">Direccion:</label>
  <input type="text" class="form-control" id="direccion" asp-for="Estacion.direccion" placeholder="Direccion">
  <label for="coord_x" class="form-label">Coordenada x:</label>
  <input type="text" class="form-control" id="coord_x" asp-for="Estacion.coord_x" placeholder="Coordenada en x">
  <label for="coord_y" class="form-label">Coordenada y:</label>
  <input type="text" class="form-control" id="coord_y" asp-for="Estacion.coord_y" placeholder="Coordenada en y">
  <label for="tipo" class="form-label">Tipo:</label>
  <input type="text" class="form-control" id="tipo" asp-for="Estacion.tipo" placeholder="Tipo">
  <hr>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>